{% extends "base.html" %}
{% load static %}
{% block title %}Domain & Punch{% endblock %}
{% block extra_body %}


<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>Username</p>
                            <h3>Thank You For Order! {{ request.user.username }}</h3>
                        </div>
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            {{ form.address }}
                        </div>
                        <div class="checkout__input">
                            <p>Order notes</p>
                            {{ form.order_note }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul>
                                {% for item in items %}
                                <li>{{ item.product.name }} <span>$100</span></li>
                                {% endfor %}
                            </ul>

                            <div class="checkout__order__total">Total <span>${{ total }}</span></div>
                            <button type="submit" class="site-btn" onclick="return confirm('Do you want to compete order?');">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
{% endblock %}
